@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

header{
	background-color: #f4f4d0;
	margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
	position: relative;
}

nav{
	display: block;
	margin: 0 auto;
}

nav ul {
	width: 85%;
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	margin: 0 auto;
}

.nav-left {
	float: left;
	margin: 1em 4em;
}

.nav-right {
	float: right;
	margin: 1em 4em;
}

nav ul li a {
	margin-top: 10px;
	display: block;
	text-align: center;
	text-decoration: none;
	color:#707070;
	z-index: 2;
	position: relative;
	font-size: 1.2em;
}

#active-page{
	font-weight: 600;
}

#active-page::after{
	display: block;
	margin-top: -12px;
	font-size: 1.2em;
	font-weight: 700;
	content: "\2022";
}

#icon-center{
	width: 100%;
	max-height: 4em;
	z-index: 1;
	position: absolute;
	display: inline;
	text-align: center;
	background-color:#f4f4d0;
}

#icon-center img{
	position: relative;
	margin-top: 1em;
	max-height: 3.5em;
	display: inline-block;

}

#title{
	height: 13em;
	vertical-align: middle;
}

section {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

#wave{
	position:absolute;
	top:0;
	z-index: 1;
}

.sky-blue {
	background-color: #a8e6ff;
}

.blue{
	background-color: #5476e4;
}

button{
	border-radius: 30px;
	padding: 8px 15px;
	border: none;
	cursor: pointer;
}
.yellow-button{
		background-color: #fff704;
		color: #1945d5;
}

.blue-button{
		background-color: #1492e6;
		color: #fff;
}

.blue-button:hover{
		background-color: #29a1f1;
}

.yellow-button:hover{
	background-color: #f6ee05;
}

#sitemap-container{
	width: 70%;
}

#sitemap-container, .vertical-dividr, #bem-ui{
	float: left;
}

.sitemap-link {
	float: left;
	width: 20%;
	margin: 2%;
}

#social-media{
	float: left;
	width: 24%;
	margin: 2%;

}

.sitemap-link a, #social-media a{
	text-decoration: none;
}

footer h4{
	color: white;
	margin-bottom: 2px;
}

footer a{
	color: #a2a1a1;
	margin-bottom: 1px;
}

.vertical-divider{
	height: 150px;
	margin: 30px 2%;
	width: 4px;
	background-color: white;
	float: left;
}

#bem-ui{
	width: 25%;
	margin-top: 30px;
	float: left;
}

button:focus, input:focus, select:focus{
	outline: none !important;
}

#image-row a img{
	margin: auto;
	width: 18%;
}

#main{
  height: 100%;
  width: 85%;
  background: #fff;
  display: inline-block;
  position: relative;
  z-index: 0;
  padding: 9em 5em;
}

#main section{
  overflow: hidden;
}

/* The Modal (background) */
#popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 3%;
}

.close{
	float: right;
  font-size: 60px;
  font-weight: bold;
  margin: 0 40px;
}

.close:hover, .close:focus{
	text-decoration: none;
  cursor: pointer;
}
